const age= document.querySelector('input[name=age]:checked').nodeValue
// const age= $("input[type=radio][name=age]:checked").val();


<div class="col-md-4" style=" " >

	<div class="panel hh">
		<div style="padding:4px;"></div>
 <p class='panel panel-heading'>{{center.name}}</p>
 <div class="panel panel-body">
	<a href="/events/" > <img src="../static/ff.png" alt="" height="250" id="img" class="image" ></a>
	<div class="overlay">
	 <div class="text"></div>
	</div>
	 <p>{{center.location}}</p>
	</div>
	<center> <a href="{% url 'center' center.name%}" class="panel panel-footer text-center"> <button>Check</button> </a> </center> </div>
</div>


<div class="container">
	<div class="row">
	  <div class="col-md-12">
		<div class="panel">
		  <div class="panel-heading"></div>
		  <div class="panel-body"></div>
		  <div class="panel-footer"></div>
		</div>
	  </div>
	</div>
  </div>


  <img src="../static/ff.png" width="50" height="50" class="d-inline-block align-top" alt="">