const age= document.querySelector('input[name=age]:checked').nodeValue
// const age= $("input[type=radio][name=age]:checked").val();


<div class="col-md-4" style=" " >

	<div class="panel hh">
		<div style="padding:4px;"></div>
 <p class='panel panel-heading'>{{center.name}}</p>
 <div class="panel panel-body">
	<a href="/events/" > <img src="../static/ff.png" alt="" height="250" id="img" class="image" ></a>
	<div class="overlay">
	 <div class="text"></div>
	</div>
	 <p>{{center.location}}</p>
	</div>
	<center> <a href="{% url 'center' center.name%}" class="panel panel-footer text-center"> <button>Check</button> </a> </center> </div>
</div>


<div class="container">
	<div class="row">
	  <div class="col-md-12">
		<div class="panel">
		  <div class="panel-heading"></div>
		  <div class="panel-body"></div>
		  <div class="panel-footer"></div>
		</div>
	  </div>
	</div>
  </div>


  <img src="../static/ff.png" width="50" height="50" class="d-inline-block align-top" alt="">


  <div class="panel">
	<div class="panel-heading">
		<h3 class="text-center">Power Red Donation</h3>
	</div>
	<div class="panel-body" style="height: 300px;">
	  <h5>During a Power Red donation, you give a concentrated dose of red cells, the part of your blood used every day for those needing transfusions as part of their care. This type of donation uses an automated process that separates your red blood cells from the other blood components, and then safely and comfortably returns your plasma and platelets to you.

		With just a little extra time at your appointment, you can donate more red cells and increase your impact on patients in need.</h5>
	  <h5><b>Who it helps: </b> Red cells from a Power Red donation are typically given to trauma patients, newborns and emergency transfusions during birth, people with sickle cell anemia, and anyone suffering blood loss.</h5>
	  <h5><b>Time it takes: </b>About 1.5 hours</h5>
	  <h5><b>Ideal blood types: </b> O positive, O negative, A negative, and B negative</h5>
	  <h5><b>Donation frequency:</b>  Every 112 days, up to 3 times/year</h5>
	  
	   
		   
		<center><div class="sub"><a href=""><button>Learn more</button></a></div></center>
	</div>
	<div class="panel-footer"></div>
  </div>