
{% load bootstrap4 %} {% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Edit profile</title>
  {{form.media}}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}

</head>

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
  <div class="col-md-4">
  <div class="panel">
    <div class="panel-header" style="background-color: blanchedalmond;">
      <h3 class="text-center">Update profile</h3>

    </div>
    <div class="panel panel-body" style="background-color: blanchedalmond;">
    <form  action="{%url 'edit_profile' user.username %}" method="post" enctype="multipart/form-data">
      {%csrf_token%}
  
      {% bootstrap_form form%}
      <center><input type="submit" class="btn btn-primary btn-sm" value="Update">
        <a href="{%url 'profiles' user.username %}" class="btn btn-primary btn-sm"><span>Back to profile</span></a></center>
      
    </form>
  </div>
  </div>
</div>
<div class="col-md-4"></div>
</div>
</div>
     {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %} {% endblock %}
  
  </body>
  
  </html>
  {% endblock %}