{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{block.super}}


<div id="top">
  <div style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: right;  padding-right: 100px;font-size: 17px;">
<h1 class="text-cente">WELCOME</h1>
<h2 class="text-cente">to <span> Dona</span></h2>
<h3 class="text-cente" style=""><span> Providing access to different blood services around the nation</span></h3>
 <a href=""><div class=""><button class="btn btn-primary btn-sm"><h6>Learn more about blood donation...</h6></button></div></a>
</div>
</div>
<div class="" style="padding: 10px;margin-top: 20px; width: 100%; background-color: white; ">
  <div class="row">
    <div class="col-md-0"></div>
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          
        </div>
        <div class="panel-body" style="height: 150px;background-color: white;">
         <i> <h4 style="font-weight: bold;text-align: center;"> 'One blood donation can save as many as three lives. Sustainable and quality blood services play a critical role in the health of a society and in preparing for, and responding to, disasters.' </h4></i>
          <div style="margin-left: 45px; font-family: Josefin Sans', sans-serif;" id="info"> 
          <h4>Blood can be used for lots of different life-saving purposes, including:</h4>
           <ul>
             <li><h4>assisting patients undergoing surgery</h4></li>
             <li><h4>treating diseases such as anaemia and malaria</h4></li>
             <li><h4>caring for patients on chemotherapy</h4></li>
             <li><h4>supporting women with complications during childbirth</h4></li>
           </ul>
          </div>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container" id="whole"  style="margin-bottom:30px ;margin-top:10px">
    <div class="row">
      <!-- Empty div -->
      <div class="col-md-3" >
        <div class="panel panel-default">

          <div class="panel-heading" style="background-color: white;">
            <img src="../../static/eight.jpg" alt="" height="200" width="257" style="padding: 2px;">
          </div>
          <div class="panel-body all" id="lefty" style="height: 250px; box-shadow:2px 2px 4px #000000;background-origin: padding-box; background-color: white;">

      <h4 style="padding: 10px;padding-top: 20px;text-align: center;">Do you want to know your eligibility as a blood donor?</h4>
      <h4 style="padding: 10px;padding-top: 20px;text-align: center;">Take a quick eligibility quiz?</h4>
      
      <center><a href="{% url 'quiz' %}"><div class="sub"><button class="btn btn-primary btn-lg">Take Quiz</button></div></a></center>
</div>
          
      </div>
    </div>
      <div class="col-md-6" id="middle">
       
 
        <div class="panel panel-default">

          <div class="panel-heading" style="background-color: white;">
            <img src="../../static/nine.jpeg" alt="" height="200" width="545" style="padding: 2px;">
             
            </div>
            <div class="panel-body all" style="height: 250px; box-shadow:2px 2px 4px #000000,2px 2px 4px #000000;background-origin: padding-box; background-color: white;">
             <h4 style="padding: 10px;padding-top: 22px;text-align: center; padding-bottom: 42px;">NCBT (National Center for Blood Transfusion) is the official division of RBC (Rwanda Biomedical Center) responsible for providing safe, effective, and adequate blood and blood products to all patients in need</h4>
               <!-- <i><a href="" style="text-align: center;float: right;">Learn more.......</a></i> -->
               <center><a href="https://rbc.gov.rw/index.php?id=676"><div class="sub"><button class="btn btn-primary btn-lg">Learn more</button></div></a></center>
</div>

</div>
    
  </div>
  <div class="col-md-3" id="righty">
    <div class="panel panel-default">

      <div class="panel-heading" style="background-color: white;">
        <img src="../../static/six.jpeg" alt="" height="200" width="257" style="padding: 2px;">
      
      </div>
      <div class="panel-body" style="height: 250px; box-shadow:2px 2px 4px #000000,2px 2px 4px #000000;background-origin: padding-box; background-color: white;">

  <h4 style="padding: 10px;padding-top: 20px;text-align: center;padding-bottom: 10px;">Wish to become a blood donor?</h4>
  <h5 style="padding: 10px;padding-top: 20px;text-align: center; padding-bottom: 15px;">Documentation about eligibility requirements and blood donation preparation</h5>
  <center><a href="{% url 'requirements' %}"><div class="sub"><button class="btn btn-primary btn-lg">Learn more</button></div></a></center>
</div>
      
  </div>
</div>


</div>
<!-- <div class="" style="padding: 10px;margin-top: 30px;">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          
        </div>
        <div class="panel-body" style="height: 250px; box-shadow:2px 2px 4px #000000,2px 2px 4px #000000;background-origin: padding-box;">
          <h1>heloo</h1>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </div>
</div> -->
</div>


<div id="top2" style="text-align: end; padding-left: 24%;padding-top: 4%; color: blanchedalmond; font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 80px;margin-top: 60px;">
  <h1 class="text-center" style="color: blanchedalmond;">Placelet Donations help patients with cancer kick cancer</h1>
  <h2 class="text-center" style="color: blanchedalmond;">Help by donating</h2>
  <center><a href="http://www.rwandaredcross.org/-Volunteer-with-us-.html"><div class="sub"><button class="btn btn-primary btn-lg">Learn more</button></div></a></center>
  <h2 class="text-center"> <span> </span></h2>
  </div>

<div class="container" id="whol" style="margin-bottom: 20px; margin-top: 20px;">
  <h3 class="text-center"> Learn more ways you can help</h3>
  
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4" >
      <div class="panel panel-default">

        <div class="panel-heading" style="background-color: white;">
          <img src="../../static/eight.jpg" alt="" height="200" width="353" style="padding: 2px;">
        </div>
        <div class="panel-body all" id="lefty" style="height: 100px; box-shadow:2px 2px 4px #000000;background-origin: padding-box; background-color: white;">

    <i><h4 style="padding: 10px;padding-top: 20px;text-align: center;">Become a volunteer</h4></i>
    <!-- <i><h4 style="padding: 10px;padding-top: 20px;text-align: center;"> Volunteer with Red Cross</h4></i> -->
    
    <center><a href="http://www.rwandaredcross.org/-Volunteer-with-us-.html"><div class="sub"><button class="btn btn-primary btn-lg">Learn more</button></div></a></center>
</div>
        
    </div>
  </div>
    <div class="col-md-4" id="mid">
     

      <div class="panel panel-default">

        <div class="panel-heading" style="background-color: white;">
          <img src="../../static/nine.jpeg" alt="" height="200" width="353" style="padding: 2px;">
           
          </div>
          <div class="panel-body all" style="height: 100px; box-shadow:2px 2px 4px #000000,2px 2px 4px #000000;background-origin: padding-box; background-color: white;">
           <i> <h4 style="padding: 10px;padding-top: 22px;text-align: center;">Donate</h4></i>
           <!-- <i><h5 style="padding: 10px;padding-top: 20px;text-align: center; padding-bottom: 15px;">Give as you can</h5></i> -->
             <center><a href="http://www.rwandaredcross.org/-Donate-.html"><div class="sub"><button class="btn btn-primary btn-lg">Learn more</button></div></a></center>
</div>

</div>
  
</div>
<div class="col-md-4" id="rig">
  <div class="panel panel-default">

    <div class="panel-heading" style="background-color: white;">
      <img src="../../static/six.jpeg" alt="" height="200" width="353" style="padding: 2px;">
    
    </div>
    <div class="panel-body" style="height: 100px; box-shadow:2px 2px 4px #000000,2px 2px 4px #000000;background-origin: padding-box; background-color: white;">

<i><h4 style="padding: 10px;padding-top: 20px;text-align: center;">Join Red Cross</h4></i>
<!-- <i><h5 style="padding: 10px;padding-top: 20px;text-align: center ;">You can become a member</h5></i> -->
<center><a href="http://www.rwandaredcross.org/-Become-a-member-.html"><div class="sub"><button class="btn btn-primary btn-lg">Learn more</button></div></a></center>
</div>
    
</div>
</div>


</div>
</div>

<!-- <div class="container containers" style="margin-top: 20px;">
  <h3 class="text-center">Donation centers to check out</h3>
<div class="row">
  
  {%for center in centers %}
  <div class="col-md-4" style=" " >

     <div class="panel hh">
         <div style="padding:4px;"></div>
  <p class='panel panel-heading'>{{center.name}}</p>
  <div class="panel panel-body">
     <a href="/events/" > <img src="../static/ff.png" alt="" height="250" id="img" class="image" ></a>
     <div class="overlay">
      <div class="text"></div>
     </div>
      <p>{{center.location}}</p>
     </div>
     <center> <a href="{% url 'center' center.name%}" class="panel panel-footer text-center"> <button>Check</button> </a> </center> </div>
</div>
{%endfor%}
</div>
</div> -->

<footer>
  <div id="suggest" class="text-center">
    <h2 class="text-center">Leave a suggestion</h2>
    <form action="">
      Subject:<br>
      <input type="text"><br>
      Description:<br>
      <textarea id="area" name="w3review" rows="4" cols="50"></textarea>
    </form>
  </div>
  <a class="social" href="http://instagram.com"><i class="fas fa-instagram" class="">Instagram</i></a>
  <a href="http://"><i class="fas fa-twitter">Twitter</i></a>
  <a href="http://"><i class="fas fa-facebook-square">Facebook</i></a>
</footer>

{% endblock %}