{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{block.super}}


<div id="top">
<h1 class="text-center">WELCOME</h1>
<h2 class="text-center">to <span> BDC</span></h2>
</div>

<div class="container" id="whole">
    <div class="row">
      <!-- Empty div -->
      <div class="col-md-3" >
        <div class="panel panel-default">

          <div class="panel-heading" style="background-color: white;">
            <img src="../../static/transfusion1.png" alt="" height="200" width="250" style="padding: 2px;">
          </div>
          <div class="panel-body all" id="lefty" style="height: 250px; box-shadow:2px 2px 4px #000000;background-origin: padding-box;">

      <i><h4 style="padding: 10px;padding-top: 20px;text-align: center;">Do you want to know your eligibility as a blood donor?</h4></i>
      <i><h4 style="padding: 10px;padding-top: 20px;text-align: center;">Take a quick eligibility quiz?</h4></i>
      
      <center><a href="{% url 'quiz' %}"><div class="sub"><button class="btn btn-primary btn-lg">Take Quiz</button></div></a></center>
</div>
          
      </div>
    </div>
      <div class="col-md-6" id="middle">
       
 
        <div class="panel panel-default">

          <div class="panel-heading" style="background-color: white;">
            <img src="../../static/sangre.jpg" alt="" height="200" width="540" style="padding: 2px;">
             
            </div>
            <div class="panel-body all" style="height: 250px; box-shadow:2px 2px 4px #000000,2px 2px 4px #000000;background-origin: padding-box;">
             <i> <h4 style="padding: 10px;padding-top: 22px;text-align: center; padding-bottom: 42px;">NCBT (National Center for Blood Transfusion) is the official division of RBC (Rwanda Biomedical Center) responsible for providing safe, effective, and adequate blood and blood products to all patients in need</h4></i>
               <!-- <i><a href="" style="text-align: center;float: right;">Learn more.......</a></i> -->
               <center><a href="{% url 'quiz' %}"><div class="sub"><button class="btn btn-primary btn-lg">Learn more</button></div></a></center>
</div>

</div>
    
  </div>
  <div class="col-md-3" id="righty">
    <div class="panel panel-default">

      <div class="panel-heading" style="background-color: white;">
        <img src="../../static/1029blood.jpg" alt="" height="200" width="250" style="padding: 2px;">
      
      </div>
      <div class="panel-body" style="height: 250px; box-shadow:2px 2px 4px #000000,2px 2px 4px #000000;background-origin: padding-box;">

  <i><h4 style="padding: 10px;padding-top: 20px;text-align: center;padding-bottom: 10px;">Wish to become a blood donor?</h4></i>
  <i><h5 style="padding: 10px;padding-top: 20px;text-align: center; padding-bottom: 15px;">Documentation about eligibility requirements and blood donation preparation</h5></i>
  <center><a href="{% url 'requirements' %}"><div class="sub"><button class="btn btn-primary btn-lg">Learn more</button></div></a></center>
</div>
      
  </div>
</div>


</div>
<div class="" style="padding: 10px;margin-top: 30px;">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          
        </div>
        <div class="panel-body" style="height: 250px; box-shadow:2px 2px 4px #000000,2px 2px 4px #000000;background-origin: padding-box;">
          <h1>heloo</h1>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </div>
</div>
</div>

<div id="top2">
  <h1 class="text-center">LEARN HOW YOU CAN HELP MORE</h1>
  <h2 class="text-center"> <span> BDC</span></h2>
  </div>
<!-- <div class="container containers" style="margin-top: 20px;">
  <h3 class="text-center">Donation centers to check out</h3>
<div class="row">
  
  {%for center in centers %}
  <div class="col-md-4" style=" " >

     <div class="panel hh">
         <div style="padding:4px;"></div>
  <p class='panel panel-heading'>{{center.name}}</p>
  <div class="panel panel-body">
     <a href="/events/" > <img src="../static/ff.png" alt="" height="250" id="img" class="image" ></a>
     <div class="overlay">
      <div class="text"></div>
     </div>
      <p>{{center.location}}</p>
     </div>
     <center> <a href="{% url 'center' center.name%}" class="panel panel-footer text-center"> <button>Check</button> </a> </center> </div>
</div>
{%endfor%}
</div>
</div> -->

<footer>
  <div id="suggest" class="text-center">
    <h2 class="text-center">Leave a suggestion</h2>
    <form action="">
      Subject:<br>
      <input type="text"><br>
      Description:<br>
      <textarea id="area" name="w3review" rows="4" cols="50"></textarea>
    </form>
  </div>
  <a class="social" href="http://"><i class="fas fa-instagram" class="">Instagram</i></a>
  <a href="http://"><i class="fas fa-twitter">Twitter</i></a>
  <a href="http://"><i class="fas fa-facebook-square">Facebook</i></a>
</footer>

{% endblock %}