{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{block.super}}


<div id="top">
<h1 class="text-center">WELCOME</h1>
<h2 class="text-center">to <span> BDC</span></h2>
</div>

<div class="container">
    <div class="row">
      <!-- Empty div -->
      <div class="col-md-3">
          
      </div>
      <div class="col-md-6">
        <p>NCBT (National Center for Blood Transfusion) is the official division of RBC (Rwanda Biomedical Center) responsible for providing safe, effective, and adequate blood and blood products to all patients in need</p>
 <p>BDT (Blood Transfusion division) has five Regional Centers for blood transfusion (RCBTs) located in all administrative provinces and the City of Kigali. blood collection is carried out within 5 fixed and 568 mobile collection sites country-wide.NCBT serves sixty-six transfusing public and private health facilities. The BDT is responsible for organizing, supervising, and coordinating blood transfusion activities in Rwanda, promoting voluntary, non-remunerated blood donation, and analyzing,  processing, and distributing blood and blood components to all hospitals in Rwanda. </p>
        <div class="panel panel-default">

            <div class="panel-heading">
             
            </div>
            <div class="panel-body">

    
</div>

</div>
    
  </div>
  <div class="col-md-3"></div>
</div>

</div>
{% endblock %}