{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<body>

	<div class="" style="padding: 10px;margin-top: 20px; width: 100%; background-color: blanchedalmond;">
		<div class="row">
		  
		  <div class="col-md-12">
			<div class="panel">
			  <div class="panel-heading" style="height: 50px;background-color: white;">
				<h2 style="font-weight: bold;text-align: center;"> Eligibility Criteria: Alphabetical. </h2>
			  </div>
			  <div class="panel-body" >
				<h4 class="text-center"> Click on criteria learn more</h4>
				
			  </div>
			  <div class="panel-footer"></div>
			</div>
		  </div>
		</div>
	  </div>

<div class="container" style="margin-top: -50px;">
	<div class="row" style="padding-left:10%;">
		<div class="col-md-12">
			<button class="accordion" style= "background-color: white; width: 70%;">Acupuncture</button>
			<div class="panela">
			  <p>Donors who have undergone acupuncture treatments are acceptable.</p>
			</div>
			</div>

<div class="col-md-12">
<button class="accordion" style= "background-color: white; width: 70%;">Age</button>
<div class="panela">
  <p>You must be at least 18 years old to donate to the general blood supply. There is no upper age limit for blood donation as long as you are well with no restrictions or limitations to your activities.

	<b> In-Depth Discussion of Age and Blood Donation</b>
	
	Those younger than age 18 are always legal minors (not yet of the age of majority) who cannot give consent by themselves to donate blood. 
	
	Persons under the age of 18 may, however, donate blood for their own use, in advance of scheduled surgery or in situations where their blood has special medical value for a particular patient such as a family member.</p>
</div>
</div>
<div class="col-md-12">
	<button class="accordion" style= "background-color: white; width: 70%;">Allergy, Stuffy Nose, Itchy Eyes, Dry Cough</button>
	<div class="panela">
	  <p>Acceptable as long as you feel well, have no fever, and have no problems breathing through your mouth.</p>
	</div>
	</div>

	<div class="col-md-12">
		<button class="accordion" style= "background-color: white; width: 70%;">Antibiotics</button>
		<div class="panela">
		  <p>A donor with an acute infection should not donate. The reason for antibiotic use must be evaluated to determine if the donor has a bacterial infection that could be transmissible by blood.

			Acceptable after finishing oral antibiotics for an infection (bacterial or viral). May have taken last pill on the date of donation. Antibiotic by injection for an infection acceptable 10 days after last injection. Acceptable if you are taking antibiotics to prevent an infection for the following reasons: acne, chronic prostatitis, peptic ulcer disease, periodontal disease, pre-dental work, rosacea, ulcerative colitis, after a splenectomy or valvular heart disease. If you have a temperature above 99.5 F, you may not donate..</p>
		</div>
		</div>

		<div class="col-md-12">
			<button class="accordion" style= "background-color: white; width: 70%;">Aspirin</button>
			<div class="panela">
			  <p>Aspirin, no waiting period for donating whole blood. However, you must wait 2 full days after taking aspirin or any medication containing aspirin before donating platelets by apheresis. For example, if you take aspirin products on Monday, the soonest you may donate platelets is Thursday.</p>
			</div>
			</div>

			<div class="col-md-12">
				<button class="accordion" style= "background-color: white; width: 70%;">Asthma</button>
				<div class="panela">
				  <p>Acceptable as long as you do not have any limitations on daily activities and are not having difficulty breathing at the time of donation and you otherwise feel well. Medications for asthma do not disqualify you from donating.</p>
				</div>
				</div>

				<div class="col-md-12">
					<button class="accordion" style= "background-color: white; width: 70%;">Birth Control</button>
					<div class="panela">
					  <p>Women on oral contraceptives or using other forms of birth control are eligible to donate.</p>
					</div>
					</div>
					<div class="col-md-12">
						<button class="accordion" style= "background-color: white; width: 70%;">Bleeding Condition</button>
						<div class="panela">
						  <p>If you have a history of bleeding problems, you will be asked additional questions. If your blood does not clot normally, you should not donate since you may have excessive bleeding where the needle was placed. For the same reason, you should not donate if you are taking any "blood thinner"</p>
						</div>
						</div>
						<div class="col-md-12">
							<button class="accordion" style= "background-color: white; width: 70%;">Blood Pressure, High</button>
							<div class="panela">
							  <p>Acceptable as long as your blood pressure is below 180 systolic (first number) and below 100 diastolic (second number) at the time of donation. Medications for high blood pressure do not disqualify you from donating.</p>
							</div>
							</div>
							<div class="col-md-12">
								<button class="accordion" style= "background-color: white; width: 70%;">Blood Pressure, Low</button>
								<div class="panela">
								  <p>Acceptable as long as you feel well when you come to donate, and your blood pressure is at least 90/50 (systolic/diastolic).</p>
								</div>
								</div>
								<div class="col-md-12">
									<button class="accordion" style= "background-color: white; width: 70%;">Blood Transfusion</button>
									<div class="panela">
									  <p>Wait for 3 months after receiving a blood transfusion</p>
									</div>
									</div>
									<div class="col-md-12">
										<button class="accordion" style= "background-color: white; width: 70%;">Cancer</button>
										<div class="panela">
										  <p>Eligibility depends on the type of cancer and treatment history. If you had leukemia or lymphoma, including Hodgkin’s Disease and other cancers of the blood, you are not eligible to donate. Other types of cancer are acceptable if the cancer has been treated successfully and it has been more than 12 months since treatment was completed and there has been no cancer recurrence in this time. Lower risk in-situ cancers including squamous or basal cell cancers of the skin that have been completely removed and healed do not require a 12-month waiting period.

											Precancerous conditions of the uterine cervix do not disqualify you from donation if the abnormality has been treated successfully. You should discuss your particular situation with the health historian at the time of donation.</p>
										</div>
										</div>
										<div class="col-md-12">
											<button class="accordion" style= "background-color: white; width: 70%;">Chronic Illness</button>
											<div class="panela">
											  <p>Most chronic illnesses are acceptable as long as you feel well, the condition is under control, and you meet all other eligibility requirements.</p>
											</div>
											</div>
											<div class="col-md-12">
												<button class="accordion" style= "background-color: white; width: 70%;">Cold. Flu</button>
												<div class="panela">
												  <p>Wait if you have a fever or a productive cough (bringing up phlegm). Wait if you do not feel well on the day of donation. Wait until you have completed antibiotic treatment for sinus, throat or lung infection.</p>
												</div>
												</div>
												<div class="col-md-12">
													<button class="accordion" style= "background-color: white; width: 70%;">Dental procedure and oral surgery</button>
													<div class="panela">
													  <p>Acceptable after dental procedures as long as there is no infection present. Wait until finishing antibiotics for a dental infection. Wait for 3 days after having oral surgery.</p>
													</div>
													</div>
													<div class="col-md-12">
														<button class="accordion" style= "background-color: white; width: 70%;">Diabetes</button>
														<div class="panela">
														  <p>Diabetics who are well controlled on insulin or oral medications are eligible to donate.</p>
														</div>
														</div>
														<div class="col-md-12">
															<button class="accordion" style= "background-color: white; width: 70%;">Donation intervals</button>
															<div class="panela">
															  <p>Wait at least 8 weeks between whole blood (standard) donations.

																Wait at least 7 days between platelet (pheresis) donations.
																
																Wait at least 16 weeks between Power Red (automated) donations.</p>
															</div>
															</div>
															<div class="col-md-12">
																<button class="accordion" style= "background-color: white; width: 70%;">Men who have sex with other men(MSM)</button>
																<div class="panela">
																  <p>First-time male donors may be eligible to donate blood if they have not had sex with another man in more than 3 months. All additional blood donation eligibility criteria will apply. </p>
																</div>
																</div>
																<div class="col-md-12">
																	<button class="accordion" style= "background-color: white; width: 70%;">Ebola Virus</button>
																	<div class="panela">
																	  <p>You are not eligible to donate if you have ever had Ebola virus infection or disease.</p>
																	</div>
																	</div>
																	<div class="col-md-12">
																		<button class="accordion" style= "background-color: white; width: 70%;">Heart Disease</button>
																		<div class="panela">
																		  <p>In general, acceptable as long as you have been medically evaluated and treated, have no current (within the last 6 months) heart related symptoms such as chest pain and have no limitations or restrictions on your normal daily activities.

																			Wait at least 6 months following an episode of angina.
																			
																			Wait at least 6 months following a heart attack.
																			
																			Wait at least 6 months after bypass surgery or angioplasty.
																			
																			Wait at least 6 months after a change in your heart condition that resulted in a change to your medications.
																			
																			If you have a pacemaker, you may donate as long as your pulse is between 50 and 100 beats per minute and you meet the other heart disease criteria. You should discuss your particular situation with your personal healthcare provider and the health historian at the time of donation.</p>
																		</div>
																		</div>
																		<div class="col-md-12">
																			<button class="accordion" style= "background-color: white; width: 70%;">Heart murmur, Heart valve condition</button>
																			<div class="panela">
																			  <p>Acceptable if you have a heart murmur as long as you have been medically evaluated and treated and have not had symptoms in the last 6 months and have no restrictions on your normal daily activities.</p>
																			</div>
																			</div>

																			<div class="col-md-12">
																				<button class="accordion" style= "background-color: white; width: 70%;">Hemoglobin, Hematocrit, Blood Count</button>
																				<div class="panela">
																				  <p>In order to donate blood, a woman must have a hemoglobin level of at least 12.5 g/dL, and a man must have a hemoglobin level of at least 13.0 g/dL. For all donors, the hemoglobin level can be no greater than 20 g/dL. Separate requirements for hemoglobin level apply for Power Red.
																					When you come to donate blood at the American Red Cross, we measure your blood pressure, pulse, temperature, and hemoglobin because the results provide information about your current health at the time of your donation.  The Red Cross does not diagnose medical conditions or offer treatment.
																					
																					Physical exam results vary throughout the day.  Stress, nutrition, illness, hydration, weight, activity, environment and even consumption of certain ingredients (for example, salt or caffeine) may affect the results of the physical exam.  If your result does not meet the minimum/maximum requirement at the time of your attempted donation you will not be permitted to donate. </p>
																				</div>
																				</div>
																				<div class="col-md-12">
																					<button class="accordion" style= "background-color: white; width: 70%;">Hepatitis, Jaundice</button>
																					<div class="panela">
																					  <p>If you have signs or symptoms of hepatitis (inflammation of the liver) caused by a virus, or unexplained jaundice (yellow discoloration of the skin), you are not eligible to donate blood.

																						If you ever tested positive for hepatitis B or hepatitis C, at any age, you are not eligible to donate, even if you were never sick or jaundiced from the infection.</p>
																					</div>
																					</div>
																					<div class="col-md-12">
																						<button class="accordion" style= "background-color: white; width: 70%;">Hepatitis Exposure</button>
																						<div class="panela">
																						  <p>If you live with or have had sexual contact with a person who has hepatitis, you must wait 12 months after the last contact.

																							Persons who have been detained or incarcerated in a facility (juvenile detention, lockup, jail, or prison) for 72 hours or more consecutively (3 days) are deferred for 12 months from the date of last occurrence. This includes work release programs and weekend incarceration. These persons are at higher risk for exposure to infectious diseases. 
																							
																							Wait 3 months after receiving a blood transfusion (unless it was your own "autologous" blood), non-sterile needle stick or exposure to someone else's blood.  </p>
																						</div>
																						</div>
																						<div class="col-md-12">
																							<button class="accordion" style= "background-color: white; width: 70%;">HIV AIDS</button>
																							<div class="panela">
																							  <p>You should not give blood if you have AIDS or have ever had a positive HIV test, or if you have done something that puts you at risk for becoming infected with HIV.

																								You are at risk for getting infected if you:
																								
																								have used needles to take any drugs, steroids, or anything not prescribed by your doctor in the last 3 months
																								are a male who has had sexual contact with another male, in the last 3 months
																								have taken money, drugs or other payment for sex in the last 3 months
																								have had sexual contact in the past 3 months with anyone described above
																								 
																								
																								You should not give blood if you have any of the following conditions that can be signs or symptoms of HIV/AIDS
																								
																								Fever
																								Enlarged lymph glands
																								Sore throat
																								Rash</p>
																							</div>
																							</div>
																							<div class="col-md-12">
																								<button class="accordion" style= "background-color: white; width: 70%;">Hormone Replacement Therapy (HRT)</button>
																								<div class="panela">
																								  <p>Women on hormone replacement therapy for menopausal symptoms and prevention of osteoporosis are eligible to donate.</p>
																								</div>
																								</div>
																								<div class="col-md-12">
																									<button class="accordion" style= "background-color: white; width: 70%;">Immunization, Vaccination</button>
																									<div class="panela">
																									  <p>Acceptable if you were vaccinated for influenza, pneumonia, tetanus or meningitis, providing you are symptom-free and fever-free. Includes the Tdap vaccine. Acceptable if you received an HPV Vaccine (example, Gardasil).
																										
																										Acceptable if you were vaccinated with SHINGRIX (shingles vaccine) providing you are symptom-free and fever-free. SHINGRIX vaccine is administered in 2 doses (shots). The second shot is administered 2-6 months after the first shot. This distinguishes it from Zostavax, the live shingles vaccine, which is given as a single dose (shot) and requires a 4-week deferral.
																										
																										Wait 4 weeks after immunizations for German Measles (Rubella), MMR (Measles, Mumps and Rubella), Chicken Pox and Zostavax, the live shingles vaccine.
																										
																										Wait 2 weeks after immunizations for Red Measles (Rubeola), Mumps, Polio (by mouth), and Yellow Fever vaccine.
																										
																										Wait 21 days after immunization for hepatitis B as long as you are not given the immunization for exposure to hepatitis B.
																										 
																										
																										COVID-19 Vaccine and COVID-19 Booster Shot
																										Acceptable if you were vaccinated with a non-replicating, inactivated, or RNA-based COVID-19 vaccine manufactured by AstraZeneca, Janssen/J&J, Moderna, Novavax, or Pfizer providing you are symptom-free and fever-free.
																										Wait 2 weeks if you were vaccinated with a live attenuated COVID-19 vaccine.
																										Wait 2 weeks if you were vaccinated with a COVID-19 vaccine but do not know if it was a non-replicating, inactivated, RNA based vaccine or a live attenuated vaccine.
																										</p>
																									</div>
																									</div>
																									<div class="col-md-12">
																										<button class="accordion" style= "background-color: white; width: 70%;">Infections</button>
																										<div class="panela">
																										  <p>If you have a fever or an active infection, wait until the infection has resolved completely before donating blood.

																											Wait until finished taking oral antibiotics for an infection (bacterial or viral). Wait 10 days after the last antibiotic injection for an infection.</p>
																										</div>
																										</div>
																										<div class="col-md-12">
																											<button class="accordion" style= "background-color: white; width: 70%;">Insulin</button>
																											<div class="panela">
																											  <p>Donors with diabetes who take any kind if insulin are eligible to donate as long as their diabetes is well controlled.</p>
																											</div>
																											</div>
																											<div class="col-md-12">
																												<button class="accordion" style= "background-color: white; width: 70%;">Medications</button>
																												<div class="panela">
																												  <p>In almost all cases, medications will not disqualify you as a blood donor. Your eligibility will be based on the reason that the medication was prescribed. As long as the condition is under control and you are healthy, blood donation is usually permitted.

																													Over-the-counter oral homeopathic medications, herbal remedies, and nutritional supplements are acceptable.
																													
																													There are a handful of drugs that are of special significance in blood donation.</p>
																												</div>
																												</div>
																												<div class="col-md-12">
																													<button class="accordion" style= "background-color: white; width: 70%;">Piercieng(body,ear), electrolysis</button>
																													<div class="panela">
																													  <p>Acceptable as long as the instruments used were single-use equipment and disposable (which means both the gun and the earring cassette were disposable). Wait 3 months if a piercing was performed using a reusable gun or any reusable instrument.

																														Wait 3 months if there is any question whether or not the instruments used were single-use equipment. This requirement is related to concerns about hepatitis.</p>
																													</div>
																													</div>
																													<div class="col-md-12">
																														<button class="accordion" style= "background-color: white; width: 70%;">Pregnancy, Nursing</button>
																														<div class="panela">
																														  <p>Persons who are pregnant are not eligible to donate. Wait 6 weeks after giving birth.</p>
																														</div>
																														</div>
																														<div class="col-md-12">
																															<button class="accordion" style= "background-color: white; width: 70%;">STDs</button>
																															<div class="panela">
																															  <p>Wait 3 months after treatment for syphilis or gonorrhea.

																																Acceptable if it has been more than 3 months since you completed treatment for syphilis or gonorrhea.
																																
																																Chlamydia, venereal warts (human papilloma virus), or genital herpes are not a cause for deferral if you are feeling healthy and well and meet all other eligibility requirements.</p>
																															</div>
																															</div>
																															<div class="col-md-12">
																																<button class="accordion" style= "background-color: white; width: 70%;">Sickle Cell</button>
																																<div class="panela">
																																  <p>Acceptable if you have sickle cell trait. Those with sickle cell disease are not eligible to donate. Learn how blood donations help those affected by Sickle Cell Disease.</p>
																																</div>
																																</div>
																																<div class="col-md-12">
																																	<button class="accordion" style= "background-color: white; width: 70%;">Skin disease, Rash, Acne</button>
																																	<div class="panela">
																																	  <p>Acceptable as long as the skin over the vein to be used to collect blood is not affected. If the skin disease has become infected, wait until the infection has cleared before donating. Taking antibiotics to control acne does not disqualify you from donating.</p>
																																	</div>
																																	</div>
																																	<div class="col-md-12">
																																		<button class="accordion" style= "background-color: white; width: 70%;">Surgery</button>
																																		<div class="panela">
																																		  <p>It is not necessarily surgery but the underlying condition that precipitated the surgery that requires evaluation before donation. Evaluation is on a case by case basis. You should discuss your particular situation with the health historian at the time of donation.</p>
																																		</div>
																																		</div>
																																		<div class="col-md-12">
																																			<button class="accordion" style= "background-color: white; width: 70%;">Syphilis/ Gonorrhea</button>
																																			<div class="panela">
																																			  <p>Wait 3 months after being treated for syphilis or gonorrhea.</p>
																																			</div>
																																			</div>
																																			<div class="col-md-12">
																																				<button class="accordion" style= "background-color: white; width: 70%;">Tattoo</button>
																																				<div class="panela">
																																				  <p>To donate Blood , you have to have not gotten a new tattoo for the last six months</p>
																																				</div>
																																				</div>
																																				<div class="col-md-12">
																																					<button class="accordion" style= "background-color: white; width: 70%;">Tubercolosis</button>
																																					<div class="panela">
																																					  <p>If you have active tuberculosis or are being treated for active tuberculosis you should not donate. Acceptable if you have a positive skin test or blood test, but no active tuberculosis and are NOT taking antibiotics. If you are receiving antibiotics for a positive TB skin test or blood test only or if you are being treated for a tuberculosis infection, wait until treatment is successfully completed before donating.</p>
																																					</div>
																																					</div>
																																					<div class="col-md-12">
																																						<button class="accordion" style= "background-color: white; width: 70%;">Venerial Disease</button>
																																						<div class="panela">
																																						  <p>Wait 3 months after treatment for syphilis or gonorrhea.

																																							Chlamydia, venereal warts (human papilloma virus), or genital herpes are not a cause for deferral if you are feeling healthy and well and meet all other eligibility requirements.</p>
																																						</div>
																																						</div>
																																						<div class="col-md-12">
																																							<button class="accordion" style= "background-color: white; width: 70%;">Weight , Height</button>
																																							<div class="panela">
																																							  <p>You must weigh at least 50kg lbs to be eligible for blood donation for your own safety. Students who donate at high school drives and donors 18 years of age or younger must also meet additional height and weight requirements for whole blood donation (applies to girls shorter than 1.65m and boys shorter than 1.5m).

																																								Blood volume is determined by body weight and height. Individuals with low blood volumes may not tolerate the removal of the required volume of blood given with whole blood donation. There is no upper weight limit as long as your weight is not higher than the weight limit of the donor bed/lounge you are using</p>
																																							</div>
																																							</div>
										
</div>
</div>


    <div class="container">
		<div class="panel-heading" style="height: 50px;background-color: white;">
			<h2 style="font-weight: bold;text-align: center;"> Requirements by Donation type </h2>
		  </div>
		<div class="row" style="height:370px; margin-top: 20px;margin-bottom: 20px;" >
		  <div class="col-md-4">
			<div class="panel">
			  <div class="panel-heading"></div>
			  <div class="panel-body">
				  <img src="/static/one.jpg" alt="" height="350" width="350">
			  </div>
			  <div class="panel-footer"></div>
			</div>
		  </div>
		  <div class="col-md-8">
			<div class="panel">
			  <div class="panel-heading">
				  <h3 class="text-center">Donating whole blood</h3>
			  </div>
			  <div class="panel-body" style="height: 300px; box-shadow:2px 2px 2px #000000,2px 2px 4px #000000;">
				  <ul>
					  <li><h5>Donation frequency: Every 56 days, up to 6 times a year</h5>
					  </li>
					  <li><h5>You must be in good health and feeling well</h5></li>
					  <li><h5>You must be at least 18 years old</h5></li>
					  <li><h5>You must weigh at least 49.8kg (110 lbs)</h5></li>
				  </ul>
				  <center><div class="sub" style="margin-top: 7%;"><a href=""><button>Learn more</button></a></div></center>
			  </div>
			  <div class="panel-footer"></div>
			</div>
		  </div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<center><div class="sub"><a href=" {% url 'appointment' %}"><button>Make appointment</button></a></div></center>
					</div>
					<div class="panel-body">
						
					</div>
					<div class="panel-footer"></div>
				  </div>
			</div>
		</div>

		<div class="row" style="height:370px; margin-top: -30px;margin-bottom: 20px;" >
			<div class="col-md-4">
			  <div class="panel">
				<div class="panel-heading"></div>
				<div class="panel-body">
					<img src="/static/eight.jpg" alt="" height="350" width="350">
				</div>
				<div class="panel-footer"></div>
			  </div>
			</div>
			<div class="col-md-8">
			  <div class="panel">
				<div class="panel-heading">
					<h3 class="text-center">Donating Placelet</h3>
				</div>
				<div class="panel-body" style="height: 300px; box-shadow:2px 2px 2px #000000,2px 2px 4px #000000;">
					<ul>
						<li><h5>Donation frequency: Every 7 days, up to 24 times/year</h5>
						</li>
						<li><h5>You must be in good health and feeling well</h5></li>
						<li><h5>You must be at least 18 years old</h5></li>
						<li><h5>You must weigh at least 49.8kg (110 lbs)</h5></li>
					</ul>
					<center><div class="sub" style="margin-top: 7%;"><a href=""><button>Learn more</button></a></div></center>
				</div>
				<div class="panel-footer"></div>
			  </div>
			</div>
		  </div>
		  <div class="row">
			  <div class="col-md-12">
				  <div class="panel">
					  <div class="panel-heading">
						  <center><div class="sub"><a href="{% url 'appointment' %}"><button>Make appointment</button></a></div></center>
					  </div>
					  <div class="panel-body">
						  
					  </div>
					  <div class="panel-footer"></div>
					</div>
			  </div>
		  </div>

		  <div class="row" style="height:370px; margin-top: -30px;margin-bottom: 20px;" >
			<div class="col-md-4">
			  <div class="panel">
				<div class="panel-heading"></div>
				<div class="panel-body">
					<img src="/static/five.jpg" alt="" height="350" width="350">
				</div>
				<div class="panel-footer"></div>
			  </div>
			</div>
			<div class="col-md-8">
			  <div class="panel">
				<div class="panel-heading" style=" ">
					<h3 class="text-center">Power Red Donation</h3>
				</div>
				<div class="panel-body" style="height: 300px; box-shadow:2px 2px 2px #000000,2px 2px 4px #000000;">
					<ul>
						<li><h5>Donation frequency: Every 112 days, up to 3 times/year</h5>
						</li>
						<li><h5>You must be in good health and feeling well</h5></li>
						<li><h5><b> Male donors</b> must be at least 18 years old, at least 5'1"(1.5 m) tall and weigh at least 60kg</h5></li>
						<li><h5><b> Female donors</b> must be at least 19 years old, at least 5'5"(1.65m) tall and weigh at least 68kg
						</h5></li>
					</ul>
					<center><div class="sub" style="margin-top: 7%;"><a href="url 'appointment'%}"><button>Learn more</button></a></div></center>
				</div>
				<div class="panel-footer"></div>
			  </div>
			</div>
		  </div>
		  <div class="row">
			  <div class="col-md-12">
				  <div class="panel">
					  <div class="panel-heading">
						  <center><div class="sub"><a href="{% url 'appointment'%}"><button>Make appointment</button></a></div></center>
					  </div>
					  <div class="panel-body">
						  
					  </div>
					  <div class="panel-footer"></div>
					</div>
			  </div>
		  </div>
	  </div>


	  <div style="background-color: blanchedalmond;">
		<h1 class="text-center" style="font-weight: bold;"> Common reasons people can't donate</h1>
		<h3 class="text-center" style="font-weight: bold;">Even if you were deferred in the past, you may be eligible to donate now.</h3>
	</div>
	  <div class="container" id="whol" style="margin-bottom: 20px; margin-top: 20px;">
		<div class="row">
		  <!-- Empty div -->
		  <div class="col-md-4" >
			<div class="panel panel-default">
	  
			  <div class="panel-heading" style="background-color: white;">
				<img src="../../static/eight.jpg" alt="" height="200" width="353" style="padding: 2px;">
			  </div>
			  <div class="panel-body" id="lefty" style="box-shadow:2px 2px 4px #000000;background-origin: padding-box; background-color: white;">
	  
		  <h4 style="padding: 10px;padding-top: 20px;text-align: center;">Cold, Flu or other illnesses</h4>
		  <h4 style="padding: 10px;padding-top: 20px;text-align: center;">If you don’t feel well on the day of your donation, please call to cancel. We’ll be happy to see you 24 hours after your symptoms pass.</h4>

		  <!-- <i><h4 style="padding: 10px;padding-top: 20px;text-align: center;"> Volunteer with Red Cross</h4></i> -->
		  
		  <!-- <center><a href="http://www.rwandaredcross.org/-Volunteer-with-us-.html"><div class="sub"><button class="btn btn-primary btn-lg">Learn more</button></div></a></center> -->
	  </div>
			  
		  </div>
		</div>
		  <div class="col-md-4" id="mid">
		   
	  
			<div class="panel panel-default">
	  
			  <div class="panel-heading" style="background-color: white;">
				<img src="../../static/nine.jpeg" alt="" height="200" width="353" style="padding: 2px;">
				 
				</div>
				<div class="panel-body" style=" box-shadow:2px 2px 4px #000000,2px 2px 4px #000000;background-origin: padding-box; background-color: white;">
					<h4 style="padding: 10px;padding-top: 20px;text-align: center;">Information About Medications</h4>
					<h4 style="padding: 10px;padding-top: 20px;text-align: center;">Most medications will not disqualify you from being able to donate blood, but may require a waiting period after your final dose</h4>
				 <!-- <i><h5 style="padding: 10px;padding-top: 20px;text-align: center; padding-bottom: 15px;">Give as you can</h5></i> -->
				   <!-- <center><a href="http://www.rwandaredcross.org/-Donate-.html"><div class="sub"><button class="btn btn-primary btn-lg">Learn more</button></div></a></center> -->
	  </div>
	  
	  </div>
		
	  </div>
	  <div class="col-md-4" id="rig">
		<div class="panel panel-default">
	  
		  <div class="panel-heading" style="background-color: white;">
			<img src="../../static/six.jpeg" alt="" height="200" width="353" style="padding: 2px;">
		  
		  </div>
		  <div class="panel-body" style=" box-shadow:2px 2px 4px #000000,2px 2px 4px #000000;background-origin: padding-box; background-color: white;">
	  
			<h4 style="padding: 10px;padding-top: 20px;text-align: center;">Low Iron</h4>
			<h4 style="padding: 10px;padding-top: 20px;text-align: center;">If you were unable to donate due to low iron, you may still be able to donate in the future. The Red Cross recommends taking steps to help increase your iron level.</h4>
	  <!-- <i><h5 style="padding: 10px;padding-top: 20px;text-align: center ;">You can become a member</h5></i> -->
	  <!-- <center><a href="http://www.rwandaredcross.org/-Become-a-member-.html"><div class="sub"><button class="btn btn-primary btn-lg">Learn more</button></div></a></center> -->
	  </div>
		  
	  </div>
	  </div>
	  
	  
	  </div>
	  </div>
	
</body>

<footer>
	<div id="suggest" class="text-center">
	  <h2 class="text-center">Leave a suggestion</h2>
	  <form action="">
		Subject:<br>
		<input type="text"><br>
		Description:<br>
		<textarea id="area" name="w3review" rows="4" cols="50"></textarea>
	  </form>
	</div>
	<a class="social" href="http://"><i class="fas fa-instagram" class="">Instagram</i></a>
	<a href="http://"><i class="fas fa-twitter">Twitter</i></a>
	<a href="http://"><i class="fas fa-facebook-square">Facebook</i></a>
  </footer>
{% endblock %}
{% block css %}
<style>
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: 2px solid black;
	outline: none;
	transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
	background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
   .panela {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
	border: 2px solid black;
  }
</style>
{% endblock %}


{% block scripts %}
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}</script>
{% endblock %}
