{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<body>
    <div class="container">
		<div class="row" style="height:370px; margin-top: 20px;margin-bottom: 20px;" >
		  <div class="col-md-4">
			<div class="panel">
			  <div class="panel-heading"></div>
			  <div class="panel-body">
				  <img src="/static/one.jpg" alt="" height="350" width="350">
			  </div>
			  <div class="panel-footer"></div>
			</div>
		  </div>
		  <div class="col-md-8">
			<div class="panel">
			  <div class="panel-heading">
				  <h3 class="text-center">Donating whole blood</h3>
			  </div>
			  <div class="panel-body" style="height: 300px;">
				  <ul>
					  <li><h5>Donation frequency: Every 56 days, up to 6 times a year</h5>
					  </li>
					  <li><h5>You must be in good health and feeling well</h5></li>
					  <li><h5>You must be at least 18 years old</h5></li>
					  <li><h5>You must weigh at least 49.8kg (110 lbs)</h5></li>
				  </ul>
				  <center><div class="sub"><a href=""><button>Learn more</button></a></div></center>
			  </div>
			  <div class="panel-footer"></div>
			</div>
		  </div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<center><div class="sub"><a href=""><button>Make appointment</button></a></div></center>
					</div>
					<div class="panel-body">
						
					</div>
					<div class="panel-footer"></div>
				  </div>
			</div>
		</div>

		<div class="row" style="height:370px; margin-top: -30px;margin-bottom: 20px;" >
			<div class="col-md-4">
			  <div class="panel">
				<div class="panel-heading"></div>
				<div class="panel-body">
					<img src="/static/one.jpg" alt="" height="350" width="350">
				</div>
				<div class="panel-footer"></div>
			  </div>
			</div>
			<div class="col-md-8">
			  <div class="panel">
				<div class="panel-heading">
					<h3 class="text-center">Donating Placelet</h3>
				</div>
				<div class="panel-body" style="height: 300px;">
					<ul>
						<li><h5>Donation frequency: Every 7 days, up to 24 times/year</h5>
						</li>
						<li><h5>You must be in good health and feeling well</h5></li>
						<li><h5>You must be at least 18 years old</h5></li>
						<li><h5>You must weigh at least 49.8kg (110 lbs)</h5></li>
					</ul>
					<center><div class="sub"><a href=""><button>Learn more</button></a></div></center>
				</div>
				<div class="panel-footer"></div>
			  </div>
			</div>
		  </div>
		  <div class="row">
			  <div class="col-md-12">
				  <div class="panel">
					  <div class="panel-heading">
						  <center><div class="sub"><a href="url 'appointment' %}"><button>Make appointment</button></a></div></center>
					  </div>
					  <div class="panel-body">
						  
					  </div>
					  <div class="panel-footer"></div>
					</div>
			  </div>
		  </div>

		  <div class="row" style="height:370px; margin-top: -30px;margin-bottom: 20px;" >
			<div class="col-md-4">
			  <div class="panel">
				<div class="panel-heading"></div>
				<div class="panel-body">
					<img src="/static/one.jpg" alt="" height="350" width="350">
				</div>
				<div class="panel-footer"></div>
			  </div>
			</div>
			<div class="col-md-8">
			  <div class="panel">
				<div class="panel-heading">
					<h3 class="text-center">Donating Placelet</h3>
				</div>
				<div class="panel-body" style="height: 300px;">
					<ul>
						<li><h5>Donation frequency: Every 7 days, up to 24 times/year</h5>
						</li>
						<li><h5>You must be in good health and feeling well</h5></li>
						<li><h5>You must be at least 18 years old</h5></li>
						<li><h5>You must weigh at least 49.8kg (110 lbs)</h5></li>
					</ul>
					<center><div class="sub"><a href="url 'appointment'%}"><button>Learn more</button></a></div></center>
				</div>
				<div class="panel-footer"></div>
			  </div>
			</div>
		  </div>
		  <div class="row">
			  <div class="col-md-12">
				  <div class="panel">
					  <div class="panel-heading">
						  <center><div class="sub"><a href="{% url 'appointment'%}"><button>Make appointment</button></a></div></center>
					  </div>
					  <div class="panel-body">
						  
					  </div>
					  <div class="panel-footer"></div>
					</div>
			  </div>
		  </div>
	  </div>
	
</body>
{% endblock %}