{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    <div class="panel-heading">
    {% if centers %}
      <h2 class="text-center">Found {{ centers|length }} of searched term.  {{message}}</h2>
    {% else %}
      <h2 class="text-center"> Found 0 Centers for the search term.  {{message}}</h2>
    {% endif %}

  </div>
</div>
  <div class="container mt-4">
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Centers</th>
          
        </tr>
      </thead>

{% if centers %}
    {% for article in centers %}
<tr>
<td><a href="{% url 'center' article.name %}">{{article.name}}</a></td>


</tr>
{% endfor %}
{% endif %}
</table>
</div>

  
{% endblock %}