{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if centers %}
      <h2>Found {{ centers|length }} of searched term.  {{message}}</h2>
    {% else %}
      <h2> Found 0 Centers for the search term.  {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if centers %}
    {% for article in centers %}
      <div class="col-sm-6 col-md-3">
        <p>{{article.name}}</p>
         <!-- <a href="/project/{{article.id}}"> <img src="{{article.screenshot.url}}" alt="" height="200"></a> -->
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}