#top{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8sN3Kuu2f3s_ddfLHTruJFb-kilNADlzyuA&usqp=CAU');
    /* background-color: #111; */
    height:500px;
    width: 100%;
  }
  #top h1{
    padding-top:10%;
    color: white;
    font-size: 30px;
    
  }
  #top h2{
    
    color: white;
    
    
  }
  
  #top span{
   
    color: red;
    
    
  }
  
  body{
    font-family: 'Sree Krushnadevaraya', serif;
    font-size:15px;
    background-color: rgb(255,255,255);
  }
  
  
  
  
  .filterDiv {
    float: left;
    background-color: grey;
    color: white;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    border-radius: 50%;
    
  }
  .jj{
    padding-left: 21%;
  }
  
  .navbar-light{
    background-color: rgb(255, 235, 205);
  }
  
  
  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    /* padding: 20px; */
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
  /* #dp{
    width:140px;
    height: 140px;
    border-radius: 60%;
    float:left;
    border:1px solid black;
  } */
  .panel-body{
    background-color: blanchedalmond;
  }
  
  .panel-heading{
    background-color: rgb(255, 235, 205);
    font-size:100%;
  }
  .panel-footer{
    margin-top:10%;
  }
  
  #img{
    width:100%;
  }

  #forme{
    /* width: 50%; */
    padding: 20%;
    padding-top: 3%;
    /* text-shadow: blue 2px; */
  }
  #formee{
    border-color: #111;
    border-width: 2px;
    border-style:double;
    border-radius: 50px;
    /* border-top-left-radius: 10%; */
    box-shadow: #818181;
    background-color: blanchedalmond;
    
    
    /* padding-top: 100px; */
  }
  #title{
    text-align: center;
    border: black double 2px;
    border-radius: 50px;
    background-color: blanchedalmond;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
  }
  .qs{
    padding-bottom: 8px;
  }
  #intro{
    /* width: 60px; */
    /* text-align: center; */
    margin-top: 5px;
    width: 50%;
    margin-left: 25%;
    
  }

  #intro p{
    
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  #left{
    width: 20%;
    height: 400px;
    float: left;
    border-right: double black 2px;
    text-align: center;
  }

  #right{
    width: 20%;
    height: 200px;
    float: right;
    border-left: double black 2px;
    text-align: center;
  }

  #sub{
    margin-top: 5px;
    margin-bottom: 8px;

  }
  #sub button{
    background-color: black;
    color: blanchedalmond;
    border-radius: 50px;
  }
.reg{
padding: 5%;
text-decoration: none;
margin: 5%;
margin-bottom:3% ;
background-color: blanchedalmond;
border-radius: 50px;
}

.reg a{
  text-decoration: none;
  color: black;
  font-size: larger;
  font-style: italic;
}

#left h3{
  margin-top: 1500px;
  margin-bottom: 6px;
  background-color:blanchedalmond ;
}

#total{
  margin-top: 200px;
}

